.icons{
    padding: 5px;
}
.background{
    background-color: #191919;
}
.icons:hover{
    color: #F9004D;
}
.colz-icon{
    display: flex;
    justify-content: center;
    justify-items: center;
}
@media only screen and (max-width:535px) {
    .colz-icon{
        display: flex;
        justify-content: center;
        justify-items: center;
    }
    .colz{
        display: flex;
        justify-content: center;
        justify-items: center;  
    } 
    .icons{
        display: flex;
        justify-content: center;
        justify-items: center; 
    }
}
@media only screen and (max-width:370px){

}